body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 15px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    display: block;
}

nav ul li:hover, nav ul li a:hover {
    background-color: #555;
}

.dropdown {
    display: none;
    position: absolute;
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
}

nav ul li:hover.dropdown {
    display: block;
}

.dropdown li {
    display: block;
}

.hero {
    background-image: url('https://image.stern.de/34297346/t/cT/v1/w1440/r1.7778/-/alle-autos.jpg');
    background-size: cover;
    color: #fff;
    text-align: center;
    padding: 100px 20px;
}

.featured {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.featured article {
    flex-basis: 45%;
    margin: 10px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.featured img {
    max-width: 100%;
    height: auto;
}

.btn {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}

.btn:hover {
    background-color: #0056b3;
}

aside {
    background-color: #333;
    color: #fff;
    padding: 20px;
    margin: 20px 0;
}

.social-media {
    list-style: none;
    padding: 0;
}

.social-media li {
    display: inline;
    margin-right: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 10px;
}

footer section {
    margin-bottom: 20px;
}

@media (max-width: 768px) {
   .featured {
        flex-direction: column;
    }

   .featured article {
        flex-basis: 100%;
    }
}

/* Stile für das Impressum */
.impressum-container {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.impressum-container header h1 {
    color: #007BFF;
    text-align: center;
}

.impressum-container main section {
    margin-bottom: 20px;
}

.impressum-container main section h2 {
    margin-bottom: 10px;
}

.impressum-container footer {
    text-align: center;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #eee;
}


/* Stile für die Datenschutzerklärung */
.datenschutz-container {
    width: 80%;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.datenschutz-container header h1 {
    color: #007BFF;
    text-align: center;
}

.datenschutz-container main section {
    margin-top: 20px;
}

.datenschutz-container footer {
    text-align: center;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #eee;
}

h1 {
    text-align: center;
}

p{
    text-align: center;
}


.enthullung-bild {
    width: 300px;  /* Breite der Bilder */
    height: auto;  /* Höhe automatisch anpassen */
    margin: 10px;  /* Abstand zwischen den Bildern */
}

.bilder-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  /* Zentriert die Bilder horizontal */
    align-items: center;      /* Zentriert die Bilder vertikal */
}


.video-container {
    position: relative;
    overflow: hidden;
    padding-top: 95%; 
}

.mein-youtube-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
}

